body {
    background-image: url(../images/AdobeStock_191626872_Preview.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
}

header {
    margin-bottom: 1em;
}

#previous-result {
    display: none;
}

#hero {
    background-color: white;
    opacity: 0.90;
}

#container {
    background-color: white;
    opacity: 0.90;
}

#new-suggestions-btn {
    margin-top: 50px;
    margin-left: 50px;
}

